/*------------------ primary menu -------------*/
.nav-prime{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
}

.nav-prime{
   width: 100%;
   height: 50px;
   padding: 10px 60px 10px 60px;
   background: black;
}

.nav-wrapper{
   width: 100%;
   margin-left: 50px;
   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
}

.logo a {
   display: block;
   width: 90px;
   height: 30px;
   outline: none;
   background: url(../images/1+1_logo.svg) no-repeat 0px 0px;
   text-indent: -9000px;
}

.nav-main,
.nav-right{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   position: relative;
   top: 3px;
}

.nav-main{
   width: 540px;
}

.nav-right{
   width: 295px;
}

.nav-main a,
.nav-right a{
   text-transform: uppercase;
   color: white;
   font-family: "OneplusOne2015 Heavy";
   font-size: 18px;
}

.nav-main a:hover,
.nav-right a:hover{
   color: #ff0033;
}
