* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .5s ease;
  cursor: pointer;
}

button {
  background: none;
}

body {
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-size: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "OneplusOne2015 Light", sans-serif;
  line-height: 25px;
}

header {
  width: 1920px;
  height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}