*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   transition: all .5s ease;
   cursor: pointer;
}

button{
   background: none;
}

body{
   position: absolute; 
   width: 1920px;
   height: 1080px;
   font-size: 100%;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
   font-family: "OneplusOne2015 Light", sans-serif;
   line-height: 25px;
}

header{
   width: 1920px;
   height: 90px;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;  
}

.content-wrapper{
   width: 1920px;
   height: 990px;
   background-color: #efeff2;
   overflow: auto; 
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.top-content{
   background-color: #ffffff;
   width: 1405px;
   margin-bottom: 40px;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.middle-content{
   background-color: #ffffff;
   width: 1920px;
   height: 1030px;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.footer-content{
   background-color: black;
   width: 1920px;
   height: 300px;
}