#play{
   height: 380px;
   margin-bottom: 40px;
   
   display: flex;
   flex-direction: row;
   align-content: flex-start;
   justify-content: flex-start;
   align-items: flex-start;
   
   background: black;
   color: white;
}

/*----------time block------------*/

#play .day p,
#play .day span{
   color: #727272;
}

#play .day{
  margin-top: 20px; 
}
   
#play .day:hover{
   background: none;
}

#up,
#down{
   height: 40px;
   width: 165px;
   border: 1px solid #727272;
   border-radius: 4px;
   fill: #727272;
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: all .5s ease;
}

#up:hover,
#down:hover{
   border: 1px solid #ffffff;
   fill: #ffffff;
}

#up svg{
   transform: rotate(90deg);
}

#down svg{
   transform: rotate(-90deg);
}

#up{
   margin: 15px
}

#down{
   margin: 10px;
}

.play-time{
   width: 328px;
   height: 100%;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.play-time .time{
   margin: 10px 0;
}

/*----------preview block------------*/

.play-preview{
   width: 450px;
   height: 100%;
}

/*----------info block------------*/

.play-info{
   width: 629px;
   height: 100%;
   
   padding: 28px 75px 20px 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.play-title{
   font-size: 30px;
   font-family: "OneplusOne2015 Heavy", sans-serif;
   text-transform: uppercase;
   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
   line-height: 30px;
   margin-bottom: 10px;
}

.play-title:hover{
   color: #ff0033;
}

.play-title button{
   color: #727272;
   font-size: 20px;
   
   height: 35px;
   width: 35px;
   
   border: 1px solid #727272;
   border-radius: 6px;
}

.play-title button:hover{
   border: 1px solid white;
   color: white;
}

.play-sub{
   font-family: "OneplusOne2015 Heavy", sans-serif;
   text-transform: uppercase;
   margin-bottom: 7px;
}

.play-links a{
   margin-right: 40px;
   color: #12AAEB;
   font-family: "OneplusOne2015 Regular", sans-serif;
}

.play-links a:hover{
   text-decoration: underline;
}

.play-desc{
   padding-top: 5px;
   font-size: 18px;
   color: #727272;
}

.play-tags a{
   font-family: "OneplusOne2015 Italic", sans-serif;
   border: 1px solid #727272;
   color: #727272;
   border-radius: 6px;
   display: inline-block;
   padding: 2px 10px;
   margin: 9px 20px 15px 0px;
}

.play-tags a:hover{
   color: #ff0033;
   border-color: #ff0033;
}

.play-tags {
   height: 100px;
}